/*DEBUT AGENDA*/

#Tableau{
    height: 100%;
  }
#Tableau{
    margin: auto;
    background: linear-gradient(45deg, #c9ada7, #9a8c98);
    font-weight: 100;
  }

H1{

    text-align: center;
    color: white;

}

.tableau {
    position: absolute;
    top: 50%;
    left: 50%;
 
  }

table {
    width: 800px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-bottom: 80px;
    table-layout: fixed;
  }

th, td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
  }

th {
    text-align: left;
  }

thead th {
    background-color: #4a4e69;
  }
  
tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
tbody td {
    position: relative;
  }

tbody .event:hover:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
  }


tbody .wk:hover:before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

.tete{
      color: black;
      text-align: center;
      margin-top: 15px;
  }

h2{

  font-size: 16px;
  font-weight: bold;
  color: rgb(70, 39, 70);
}


.wk{

  background-color: lightslategray;
  color: white;
  text-align: center;
 
}

.sport{
background-color: rgb(83, 68, 39);
color: white;
text-align: center;
}

h3{
  -webkit-transform: rotate(-45deg);
  font-size: 40px;

}

  /* DEBUT BOUTON*/

.prem{
    height: 50px;
    color: white;
    background-color: #4a4e69;
    margin-bottom: 15px;
    border-radius: 40%;
    margin-left:45%;
  
}

h1{
    text-align: center;
}
/*FIN BOUTON*/

/*FIN AGENDA*/


/*DEBUT FORMULAIRE*/

p {
  margin-top: 0px;
}
 
fieldset {
  margin-bottom: 15px;
  padding: 10px;
}
 
legend {
  padding: 0px 3px;
  font-weight: bold;
  font-variant: small-caps;
}
 
label {
  display: block;
  width: 110px;
  display: inline-block;
  margin: 6px;
  font-size: 16px;
  color: grey;
}
 

 
input, textarea {
  width: 249px;
}
 
textarea {
  height: 50px;
}
 

input[type=checkbox] {
  width: 10px;
}
 
input[type=submit] {
  width: 150px;
  padding: 10px;
  margin-left: 170px;
}

input[type=reset] {
  width: 150px;
  padding: 10px;
  margin-left: 170px;
}

body{

  background-color: #c9ada7;
}

.form{
  background-color: #d4c9c7;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  

}

.revenir {

  height: 50px;
    color: white;
    background-color: #4a4e69;
    margin-bottom: 15px;
    border-radius: 40%;
    margin-left: 36%;
}





/*FIN FORMULAIRE*/